@use 'colors';

header{
    background-color: colors.$dark-green;
}

.navbar{
    position: sticky;
    button{
        width: 5rem;
        padding: 0.375rem 0.75rem;
        font-weight: 800;
        border-color: royalblue;
        background-color: colors.$brown;
        color: white;
        &:hover{
            color: yellow;
            background-color: royalblue;
        }
    }
}